django==1.11.29
django-robots==0.8.0
South==0.7.6
-e hg+https://amjoconn@bitbucket.org/wildernesslabs/viscountrapid#egg=viscountrapid
raven
markdown
django-twilio==0.2

boto==2.2.2
django-ses==0.4.1
django-storages==1.1.4
