django==1.4.1
django-robots==0.8.0
South==0.7.3
-e hg+https://amjoconn@bitbucket.org/wildernesslabs/viscountrapid#egg=viscountrapid
raven
markdown

boto==2.2.2
django-ses==0.4.1
django-storages==1.1.4