{% extends "html5hd-base.html" %}

{% load url from future %}

{% block title %}Txtocracy{% endblock title %}

{% block viewport %}
<meta name="viewport" content="width=680"> 
{% endblock%}

{% block default_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/default.css">
{% endblock default_css%}

{% block head_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/txtocracy.css" />    
{% endblock %}

{% block head_js %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34314297-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% endblock head_js %}

{% block header %}
{% endblock header %}

{% block footer %}
<div class="grid_4 alpha">
    <p>"I, THE UNDERSIGNED, PLEDGE TO VOTE ON SEPTEMBER 6TH, 2012."</p>
    <p class="signed">- Jason Shim</p>
</div>
{% endblock footer %}
