{% extends "html5hd-base.html" %}

{% load url from future %}

{% block title %}Txtocracy{% endblock title %}

{% block viewport %}
<meta name="viewport" content="width=680">
{% endblock%}

{% block default_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/default.css">
{% endblock default_css%}

{% block head_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/txtocracy.css" />    
{% endblock %}

{% block header %}
{% endblock header %}

{% block footer %}
<div class="grid_4 alpha">
    <p>"I, THE UNDERSIGNED, PLEDGE TO VOTE ON SEPTEMBER 6TH, 2012."</p>
    <p class="signed">- Jason Shim</p>
</div>
{% endblock footer %}
