{% extends "base.html" %}

{% block contents %}
<div class=hero_image>
    <img src="{{ STATIC_URL }}img/mobile.png" alt="SMS messaging on mobile phones" height="517" width="300"/>
</div>

<div class="pledge">
    <form method="post">
    {% csrf_token %}
    <h1>Remind Me to Vote</h1>
    <p>in the {{ election.name }} on {{ election.date|date }}</p>
    <p></p>
    <dl>
        <dt>Name</dt>
        <dd>
            {{ form.name }}
            {{ form.name.errors }}
        </dd>
    </dl>
    <dl>
        <dt>Mobile</dt>
        <dd>
            +1 ({{ form.areacode }}) {{ form.phone_number }}
            {{ form.areacode.errors }}
            {{ form.phone_number.errors }}
        </dd>
    </dl>
    <dl>
        <dt></dt>
        <dd><input class="btn btn-success btn-large" style="width: 185px" type="submit" value="Remind Me to Vote"/></dd>
    </dl>
    
    <p>We'll help you by sending you <a href="/about/#sms">free</a> SMS reminders. We won't share your information and after the election, we will delete your number.</p>
    <p>Have any questions? <a href="mailto:jason@txtocracy.com">Contact Us</a></p>
    <p><a href="/about/">Read about</a> Txtocracy.</p>
    
    <p style="text-align: center">
        <span class='st_facebook_large' displayText='Facebook'></span>
        <span class='st_twitter_large' displayText='Tweet'></span>
        <span class='st_linkedin_large' displayText='LinkedIn'></span>
        <span class='st_email_large' displayText='Email'></span>
    </p>
    
    </form>
</div>

<div class="clearfix"></div>
{% endblock contents %}
