{% extends "base.html" %}

{% block contents %}
<div class=hero_image>
    <img src="{{ STATIC_URL }}img/mobile.png" alt="SMS messaging on mobile phones" height="517" width="300"/>
</div>

<div class="pledge">
    <form method="post">
    {% csrf_token %}
    <h1>TXTOCRACY</h1>
    <dl>
        <dt>Name</dt>
        <dd>{{ form.name }}</dd>
    </dl>
    <dl>
        <dt>Mobile</dt>
        <dd>+1 ({{ form.areacode }}) {{ form.phone_number }}</dd>
    </dl>
    <dl>
        <dt></dt>
        <dd><input class="btn btn-success btn-large" style="width: 175px" type="submit" value="Pledge to Vote"/></dd>
    </dl>
    
    <p>Once you pledge, we will send you friendly reminders to vote!</p>
    
    </form>
</div>

<div class="clearfix"></div>
{% endblock contents %}

{% block footer %}
<div class="grid_4 alpha">
    <p>"I, THE UNDERSIGNED, PLEDGE TO VOTE ON SEPTEMBER 6TH, 2012."</p>
    <p class="signed">- Jason Shim</p>
</div>
{% endblock footer %}