.container_16 {
    width: 550px;
    margin: auto;
}

h1 a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0px;
}

.pledge, .reminder {
    font-weight: 900;
    font-size: 18pt;
    text-align: center;
}

.reminder {
    margin-top: 25px;
}

input[type=text], input[type=submit] {
    font-family: serif;
    font-weight: 900;
    font-size: 18pt;
}